body{
    background:#f3f3f3;
    font-family:sans-serif;
    margin:0;
}

/* HEADER */
.header{
    width:90%;
    margin:20px auto 10px auto;
    background:#417aa8;
    color:white;
    padding:20px;
}

/* MENU */
.menu{
    width:90%;
    margin:0 auto 20px auto;
    background:#417aa8;
    padding:10px;
}

.menu a{
    color:white;
    margin-right:20px;
    text-decoration:none;
}

/* CONTENT */
.content{
    width:90%;
    margin:auto;
    overflow:hidden; /* penting */
}

/* KIRI */
.kiri{
    width:65%;
    float:left;
}

/* KANAN */
.kanan{
    width:30%;
    float:right;
}

/* BOX */
.border{
    border:2px solid #4887b9;
    padding:15px;
    background:white;
}

/* LINK */
.undecor{
    text-decoration:none;
    color:#333;
}

/* BUTTON */
.btn{
    background:#417aa8;
    color:white;
    border:none;
    padding:8px 12px;
}

/* FOOTER */
.footer{
    width:90%;
    margin:10px auto;
    background:#417aa8;
    color:white;
    text-align:center;
    padding:10px;
    clear:both;
}
