body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

/* Header */
.header {
    background: #4f79a7;
    color: white;
    padding: 20px;
}

/* Jarak */
.jarak {
    padding: 10px;
}

/* Menu */
.menu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.menu ul li {
    display: inline;
    margin-right: 15px;
}

/* Content */
.content {
    overflow: hidden;
}

/* Kiri */
.kiri {
    width: 70%;
    float: left;
}

/* Kanan */
.kanan {
    width: 30%;
    float: left;
}

/* Box */
.border {
    background: white;
    margin-bottom: 10px;
}

/* Button */
.btn {
    padding: 5px 10px;
}

/* Link tanpa garis */
.undecor {
    text-decoration: none;
}

/* Footer */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
}
