body {
    font-family: Arial;
    background: #eaeaea;
    margin: 0;
}

/* Header */
.header {
    background: #4f79a7;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Semua dibuat vertikal (default) */
.menu, .content, .sidebar {
    padding: 15px;
}

/* Menu */
.menu ul {
    padding-left: 20px;
}

.menu ul li {
    margin: 8px 0;
}

/* Button */
button {
    margin-bottom: 20px;
}
